<!doctype html>
<html lang="en">

<%include layout/header%>

<body>

	<!--================Header Menu Area =================-->
	<%include layout/navigation%>
	<!--================Header Menu Area =================-->

	<!--================Home Banner Area =================-->
	<section class="banner_area">
		<div class="banner_inner d-flex align-items-center">
			<div class="container">
				<div class="banner_content text-center">
					<h2>Tài khoản</h2>
					<div class="page_link">
						<a href="/">Trang chủ</a>
						<a href="/dang-nhap">Tài khoản</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Home Banner Area =================-->

	<!--================Login Box Area =================-->
	<section class="login_box_area p_120">
		<div class="container">
			<div class="account_info">
				<div class="banner_content text-center">
					<h3>Thông tin tài khoản</h3>
				</div>
				<form action="/" method="post">
					<div class="row">
						<div class="col-lg-6">
							<div class="mt-10">
								<label>Tên tài khoản:</label>
								<input type="text" name="last_name" value="<%=account_info.username%>" disabled required class="single-input">
							</div>

							<div class="mt-10">
								<label>Họ:</label>
								<input type="text" name="first_name" value="<%=account_info.firstname%>" 
								required class="single-input">
							</div>

							<div class="mt-10">
								<label>Tên:</label>
								<input type="text" name="last_name" value="<%=account_info.lastname%>" 
								required class="single-input">
							</div>

							<div class="mt-10">
								<label>Email: </label>
								<input type="email" name="EMAIL" value="<%=account_info.email%>" 
								required class="single-input">
							</div>

						</div>
						<div class="col-lg-6">
							<div class="mt-10">
								<label>Địa chỉ: </label>
								<div class="input-group-icon">
									<div class="icon">
										<i class="fa fa-thumb-tack" aria-hidden="true"></i>
									</div>
									<input type="text" name="address"
									required class="single-input">
								</div>
							</div>
							<div class="mt-10">
								<label>Thành phố:</label>
								<div class="input-group-icon">
									<div class="icon">
										<i class="fa fa-plane" aria-hidden="true"></i>
									</div>
									<div class="form-select" id="default-select">
										<select>
											<option value="1">City</option>
											<option value="1">Dhaka</option>
											<option value="1">Dilli</option>
											<option value="1">Newyork</option>
											<option value="1">Islamabad</option>
										</select>
									</div>
								</div>
							</div>
							<div class="mt-10">
								<label>Quốc gia:</label>
								<div class="input-group-icon">
									<div class="icon">
										<i class="fa fa-globe" aria-hidden="true"></i>
									</div>
									<div class="form-select" id="default-select2">
										<select>
											<option value="1">Country</option>
											<option value="1">Bangladesh</option>
											<option value="1">India</option>
											<option value="1">England</option>
											<option value="1">Srilanka</option>
										</select>
									</div>
								</div>
							</div>
							<div class="mt-10 form-group text-center">
								<button type="submit" value="submit" class="btn submit_btn">Lưu thông tin</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="order_history my-5">
				<div class="banner_content text-center">
					<h3>Lịch sử mua hàng</h3>
				</div>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Mã</th>
								<th scope="col">Ngày</th>
								<th scope="col">Trạng thái</th>
								<th scope="col">Tổng thanh toán</th>
							</tr>
						</thead>
						<tbody>
							<% order_history.forEach(function(order){ 
								%>
								<tr>
									<td>
										<h5 class="mt-10">#<%=order.id%></h5>
									</td>
									<td>
										<h5 class="mt-10"><%=order.date%></h5>
									</td>
									<td>
										<h5 class="mt-10"><%=order.status%></h5>
									</td>
									<td>
										<h5 class="mt-10"><%=order.total%> VNĐ</h5>
									</td>
								</tr>
								<%
							})%>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

	<%include layout/footer%>
</body>

</html>